<?xml version="1.0"?>
<launch>
  
  <arg name="gazebo" default="true"/>
  <arg name="map_file" default="/home/lennart/catkin_ws/src/rtc_project/maps/house_map.yaml"/>

  <!-- Gazeboo; wird nur gestartet, wenn gazebo == true -->
  <group if="$(arg gazebo)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
  </group>

  <!-- navigation OHNE goal starten -->
  <!-- goals werden druch action-server an amcl übergeben -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" > 
    <arg name="map_file" value="$(arg map_file)" />
  </include>

</launch>