<?xml version="1.0"?>

<launch>

  <!-- Pfad zur Karte -->
  <arg name="map" default="/home/lennart/catkin_ws/src/rtc/rtc_maps/gazebo_house_map.yaml"/>

  <!-- Gazeboo -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" > </include>
 
  <!-- JoyToTurtleTwist Knoten -->
  <include file="$(find rtc_project)/launch/JoyToTurtleTwist.launch" >
    <arg name="start_pub" value="False" />
  </include>
  
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(arg map)" />
  </include>
  
</launch>
