<?xml version="1.0"?>
<launch>
  
  <arg name="gazebo" default="true"/>
  <arg name="map_file" default="/home/lennart/catkin_ws/src/rtc_project/maps/house_map.yaml"/>

  <!-- Gazeboo; wird nur gestartet, wenn gazebo == true -->
  <group if="$(arg gazebo)">
    <include file="$(find rtc_project)/worlds/turtlebot3_arena_world.launch" />
  </group>
  
  <!-- PointCloud to Costmap -->
  <node pkg="rtc_project" 
        type="sonar_to_restricted_area.py" 
        name="sonar_to_restricted_area" 
        output="screen" >
  </node>

  <!-- goals werden druch action-server an amcl übergeben -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" > 
    <arg name="map_file" value="$(arg map_file)" />
  </include>
  
  <!-- turtle im Notfall mit Joystick übersteuern-->
  <include file="$(find ds4_driver)/launch/ds4_driver.launch" /> 
  <node pkg="rtc_project" 
        type="ps4_navigation.py" 
        name="ps4_navigation" 
        output="screen" 
        args="1 $(arg map_file)" >
        <rosparam command="load" file="$(find rtc_project)/config/ps4_turtle_control.yaml" />
  </node>

</launch>
