<?xml version="1.0"?>
<launch>
  
  <arg name="gazebo" default="true"/>
  <arg name="controller_layout" default="1"/>
  <arg name="map_file" default="/home/lennart/catkin_ws/src/rtc_project/maps/house_map.yaml"/>
  
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Gazebo; wird nur gestartet, wenn gazebo == true -->
  <group if="$(arg gazebo)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
  </group>
  
  <!-- ds4_driver starten -->
  <include file="$(find ds4_driver)/launch/ds4_driver.launch" /> 

  <!-- ps4_set_navigation_points starten -->
  <!-- SHARE-Taste = pose in file speichern -->
  <node pkg="rtc_project" 
        type="ps4_set_navigation_points.py" 
        name="ps4_set_navigation_points" 
        output="screen" 
        args="$(arg controller_layout) $(arg map_file)" >
        <rosparam command="load" file="$(find rtc_project)/config/ps4_turtle_control.yaml" />
  </node>
  
  <!-- hier ganz normal turtlebot_navigation starten, ohne goal an amcl zu übergeben!!! -->

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  
  <!-- map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  
</launch>
