<?xml version="1.0"?>
<launch>
  
  <arg name="gazebo_sim" default="true"/>
  <arg name="controller_layout" default="2"/>
  <arg name="map_name" default="default_map"/>

  <!-- Gazeboo; wird nur gestartet, wenn gazebo_sim == true -->
  <group if="$(arg gazebo_sim)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
  </group>
  
  <!-- ps4_turtle_control.launch-> kein eigenes Terminal -->
  <include file="$(find rtc_project)/launch/ps4_turtle_control.launch" > 
    <arg name="controller_layout" value="$(arg controller_layout)" />
    <arg name="map_name" value="map_name" />
  </include>
  
  <!-- slam gmapping -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" />
 
</launch>