<?xml version="1.0"?>
<launch>

  <arg name="controller_layout" default="1"/>
  <arg name="map_name" default="default_map"/>

  <!-- ds4_driver starten -->
  <include file="$(find ds4_driver)/launch/ds4_driver.launch" /> 

  <!-- ps4_turtle_control starten -->
  <node pkg="rtc_project" 
        type="ps4_turtle_control.py" 
        name="ps4_turtle_control" 
        output="screen" 
        args="$(arg controller_layout) $(arg map_name)" >
        <rosparam command="load" file="$(find rtc_project)/config/ps4_turtle_control.yaml" />
  </node>
  
</launch>
