<?xml version="1.0"?>
<launch>
  
  <arg name="gazebo_sim" default="true"/>
  <arg name="controller_layout" default="1"/>
  <arg name="map_name" default="default_map"/>
  <arg name="map_file" default="/home/lennart/catkin_ws/src/rtc_project/maps/house_map.yaml"/>

  <!-- Gazeboo; wird nur gestartet, wenn gazebo_sim == true -->
  <group if="$(arg gazebo_sim)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
  </group>
  
  <!-- ds4_driver starten -->
  <include file="$(find ds4_driver)/launch/ds4_driver.launch" /> 

  <!-- ps4_turtle_control starten -->
  <node pkg="rtc_project" 
        type="ps4_set_navigation_points.py" 
        name="ps4_set_navigation_points" 
        output="screen" 
        args="$(arg controller_layout) $(arg map_name)" >
        <rosparam command="load" file="$(find rtc_project)/config/ps4_turtle_control.yaml" />
  </node>
  
  <!-- navigation OHNE goal starten -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" > 
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" /> -->
  


</launch>
