<?xml version="1.0"?>

<launch>

  <!-- Gazeboo -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" > </include>
 
  <!-- Joy Knoten starten -->
  <node name="ps4_joy_node" pkg="joy" type="joy_node" />
  
  <!-- JoyToTwist Knoten starten -->
  <node name="slam_node" pkg="rtc" type="slam.py" output="screen"/>
  
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$HOME/catkin_ws/src/rtc/rtc_maps/gazebo_house_map.yaml" />
  </include>
  
</launch>
