<?xml version="1.0"?>

<launch>

  <!-- Gazeboo -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" > </include>
 
  <!-- JoyToTurtleTwist Knoten -->
  <include file="$(find rtc_project)/launch/JoyToTurtleTwist.launch" > </include>
  
  <!-- Slam Gmapping -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="slam_methods" value="gmapping" />
  </include>
  
  <!-- Karte speichern -->
  <!-- rosrun map_server map_saver -f /home/lennart/catkin_ws/src/rtc_project/maps/house_map -->
  
</launch>
