<?xml version="1.0"?>
<launch>

  <arg name="controller_layout" default="1"/>
  <arg name="map_path" default="/home/lennart/catkin_ws/src/rtc_project/maps/default_map"/>

  <!-- ds4_driver starten -->
  <include file="$(find ds4_driver)/launch/ds4_driver.launch" /> 

  <!-- StatusToTurtleTwist starten -->
  <node pkg="rtc_project" 
        type="StatusToTurtleTwist.py" 
        name="status_to_turtle_twist" 
        output="screen" 
        args="$(arg controller_layout) $(arg map_path)" >
        <rosparam command="load" file="$(find rtc_project)/config/StatusToTurtleTwist.yaml" />
  </node>
  
</launch>
